<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="FanqieAuto"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="番茄签到模块">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- libxposed API 102 元数据 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="番茄小说自动签到模块 v1.0.2 - libxposed API 102" />
        <meta-data
            android:name="xposedminversion"
            android:value="102" />
        <meta-data
            android:name="xposedapiversion"
            android:value="102" />
    </application>
</manifest>
